# dependencies
node_modules/

# environment variables
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# build output
dist/
build/
coverage/

# system and IDE files
.DS_Store
.idea/
.vscode/
